/* Write your CSS here */
.btnElement {
  background-color: #ffffff;
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ff0b37;
  padding-top: 4px;
  padding-left: 8px;
  padding-bottom: 4px;
  padding-right: 8px;
  margin-left: 16px;
  outline: none;
  cursor: pointer;
}
.description {
  font-family: 'Roboto';
  font-size: 25px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.inner-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 24px;
  margin-top: 48px;
  margin-bottom: 48px;
}
